@use "../abstracts/" as *;

.even-columns {
  display: grid;
  gap: var(--grid-gap, $grid-gap);

  .reverse {
    order: 1;
  }

  @include mq(medium) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    .reverse {
      order: -1;
    }
  }
}
.uneven-columns {
  display: grid;
  gap: var(--grid-gap, $grid-gap);

  .reverse {
    order: 1;
  }

  @include mq(medium) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr 2fr;
    .reverse {
      order: -1;
    }
  }
}
