@use "../abstracts/" as *;

.hero-background-image {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;

  .page-heading {
    background-color: rgba($color: white, $alpha: 0.85);
    border: $color-neutral-1000 2px solid;

    @include mq(medium) {
      background-color: transparent;
      border: none;
    }
    @include mq(medium-large) {
      padding-right: 25em;
    }
    @include mq(large) {
      padding-right: 28em;
    }
    @include mq(extra-large) {
      padding-right: 36em;
    }
  }
}
