@use "../abstracts/" as *;

.hero {
  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-height: 40em;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    padding-top: 0;

    @include mq(medium) {
      padding-top: 20%;
    }
  }
}
