@use "../abstracts" as *;

.find-us-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.block-with-image-inner {
  .block-with-image-inner {
    display: grid;
    gap: 6em;
   
  }
}
