@use "../abstracts" as *;

.block-shifted-up-image {
  margin-bottom: -3em;
  img {
    margin-bottom: -4em;
  }

  @include mq(medium) {
    // margin-bottom: -100px;

    img {
      margin-bottom: -3em;
    }
  }
}
