@use "../abstracts/" as *;

.find-us-vertical {
  background-color: $find-us-background-color;

  .find-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2em;
    .address {
      text-align: center;
    }
    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .find-us-hours {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0.5em;

      .days {
        text-align: center;
      }
    }

    .find-us-divider {
      background-color: black;
      width: 2em;
      height: 1px;
    }
  }
}
