@use "../abstracts/" as *;

.find-us-old {
  .find-us-Content {
    .find-us-main-content {
      display: flex;
      gap: 2.5em;
      flex-direction: column;

      #border-bottom {
        width: 60px;
        height: 1px;
        background-color: black;
        margin: 0em auto;
      }
    }

    .find-us__card {
      padding: 2.5em 1em;
      text-align: center;
      align-self: center;
      width: 94%;
      @include mq(medium) {
        width: 80%;
      }

      .card-header {
        display: flex;
        align-items: center;

        &__text {
          text-transform: capitalize;
          margin: 0.6rem;
        }
      }

      .card-main {
        display: flex;
        justify-content: center;
        gap: 0.2em;
        flex-direction: column;
      }
    }
  }
}
