@use "../abstracts/" as *;

.find-us {
  background-color: $find-us-background-color;
  .find-us-content {
    display: flex;
    flex-direction: column;
    gap: 1em;

    @include mq(medium) {
      gap: 6em;
    }
    .find-us-inner-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      position: relative;
      font-size: $size-6;

      gap: 4em;
      @include mq(large) {
        gap: 8em;
      }

      @include mq(medium) {
        flex-direction: row;
        padding-top: 2em;
      }
    }

    .card-divider {
      width: 10%;
      height: 1px;
      background-color: $color-accent-500;
      align-self: center;
      position: absolute;

      @include mq(medium) {
        width: 1px;
        height: 20%;
      }
    }

    .find-us__card {
      display: flex;
      align-items: center;

      h3 {
        padding-bottom: 1.6em;
      }

      .card-main {
        display: flex;
        gap: 1em;
        justify-content: center;
        flex-direction: column;
        color: $color-neutral-1000;

        .days {
          font-weight: 600;
        }
      }

      .card-hours {
        gap: 0.8em;
      }
      .card-address {
        gap: 0.4em;
      }
    }
  }
}
