@use "../abstracts/" as *;

.header-elementary {
  .elementary--nav {
    display: flex;
    justify-content: flex-end;
    padding: 1.5em;
    a {
      cursor: pointer;
      color: black;
      display: flex;
      padding: 0em 1em;
    }
  }
}
