@use "../abstracts/" as *;

.images-gallery {
  .interactive-figure {
    // box-shadow: $box-shadow-3;
  }

  .image-container {
    padding: 0em;
    background-color: white;

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  figcaption {
    display: flex;
    flex-direction: column;
    gap: 0.45em;
    // background-color: whitesmoke;
    padding-top: 1em;
    padding-bottom: 2em;

    p {
      line-height: 1.2;
      color: $color-neutral-700;
    }
  }
}
