@use "../abstracts/" as *;

.language-header {
  position: absolute;
  top: 2%;
  right: 4%;


  display: flex;
  gap: 2px;
  align-items: center;

  a {
    color: $color-neutral-1000;

    padding: 10px;
    width: 100%;

    &:hover {
      cursor: pointer;
      color: $color-accent-500;
      text-decoration: underline;
    }

    &.active-language {
      color: $color-accent-500;
      text-decoration: underline;
    }
  }
}
