@use "../abstracts" as *;

.menu-windowed-two-columns {
  .menu-title {
    margin-bottom: 2rem;
    text-align: center;
  }

  .individual-menu {
    .heading-3 {
      text-align: center;
      margin-inline: auto;
      padding: 1.2em 0 1em 0;
      font-family: $font-family-base;
      font-weight: 300;
    }
  }

  .menu-windowed-divider {
    background-color: $color-accent-500;
    width: 15%;
    height: 1px;
    margin: 0 auto;
  }

  .menu_menu_items {
    display: grid;
    // gap: 1em var(--grid-gap, 6em);
    padding: 2em 0 2em 0;
    grid-template-columns: repeat(auto-fit, minmax(min(450px, 100%), 1fr));
  }

  .menu-windowed-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em 2em;
    padding: 0.5em;
    margin-bottom: 2em;
  }
  .menu-windowed-link {
    cursor: pointer;
    padding: 0.3em 1em;
    border: 1px solid $color-neutral-800;
    font-family: $font-family-accent;
    align-self: center;
    &:hover {
      color: $color-neutral-000;
      background-color: $color-neutral-1000;
    }
  }

  .active-link {
    color: $color-neutral-000;
    background-color: $color-neutral-1000;
  }

  .menu-menu {
    border: 3px solid $color-neutral-1000;
    box-shadow: $box-shadow-8;
  
  }
}
