@use "../abstracts" as *;

.menu-item-1 {
  padding: 1em 3em;
  display: flex;
  flex-direction: column;

  .item-head {
    display: flex;
    align-items: center;

    .item-name-container {
      flex: 1;
      display: flex;
      justify-content: center;

      .item-name {
        flex: 2;
        margin-top: 0.4rem;
        margin-bottom: 0.4rem;
        color: $menu-item-name-color;
        font-weight: $menu-item-font-weight;
        font-family: $menu-item-font-family;
        font-size: $menu-item-font-size;
        line-height: 100%;

        span {
          color: rgb(44, 44, 44);
          font-size: 20px;
        }
      }
    }

    svg {
      color: $color-accent-500;
    }
    .item-dash {
      width: 20px;
      height: 1px;
      background: $menu-item-dash-color;
      margin: 0 1rem;

      @include mq(medium) {
        width: 40px;
      }

      @include mq(large) {
        width: 80px;
      }
    }

    .item-price {
      p {
        color: $menu-item-name-color;
        font-weight: $menu-item-font-weight;
        font-family: $menu-item-font-family;
        font-size: 22px;
      }
    }
  }

  .item-description {
    margin-top: 0.2rem;
    color: $menu-item-description-color;
    width: 60%;
  }
}
