@use "../abstracts" as *;

.menu-item {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;

  .item-head {
    display: flex;
    align-items: center;

    .item-name-container {
      flex: 1;

      .item-name {
        flex: 1;
        margin-top: 0.2rem;
        color: $menu-item-name-color;
      }
    }

    svg {
      color: $color-accent-600;
    }
    .item-dash {
      width: 60px;
      height: 1px;
      background: $menu-item-dash-color;
      margin: 0 1rem;

      @include mq(medium) {
        width: 90px;
      }

      @include mq(large) {
        width: 120px;
      }
    }
  }

  .item-description {
    margin-top: 0.2rem;
    color: $menu-item-description-color;
  }
}
