@use "../abstracts" as *;

.nav {
  --flex-column-gap: #{$navigation-gap};
  font-size: $navigation-font-size;
  font-weight: $navigation-font-weight;
  font-family: $navigation-font-family;
  list-style: none;

  a {
    color: $navigation-color;
    text-decoration: $navigation-link-text-decoration;

    &:is(:hover, :focus) {
      color: $navigation-color-hover;
    }
  }
}
