@use "../abstracts" as *;

.page-heading {
  padding: 2em 0em 0 0em;
  display: grid;
  gap: 1em;

  h1 {
    color: $color-neutral-1000;
  }

  .heading-divider {
    height: 2px;
    width: 25%;
    background-color: $color-accent-500;
  }

  img {
    width: 30%;
    height: 30%;
  }

  .sub-headings {
    display: grid;
    gap: 0.6em;

    p {
      font-weight: 300;
      color: $color-neutral-800;
      line-height: 1.4;
    }
  }
}
