@use "../abstracts/" as *;

.scroll-watcher {
  height: 2px;
  position: fixed;
  top: 0;
  z-index: 100;
  background: black;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();

  @include mq(medium) {
    animation: none;
  }
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}
