@use "../abstracts" as *;

.section-header {
  display: grid;
  justify-items: center;

  .heading-2 {
    text-align: center;
  }

  p {
    text-align: center;
  }
  p {
    @include mq(medium) {
      max-width: 36vw;
      margin-inline: auto;
    }
  }
}
