@use "../abstracts/" as *;

.site-side-navbar {
  grid-area: nav;
  height: $site-side-navbar-height;

  .site-side-navbar-container {
    z-index: 2;
    position: fixed;
    background-color: $color-neutral-1000;
    display: flex;
    border-top: 3px solid $color-accent-500;
    border-right: none;

    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    width: 100%;
    bottom: 0;
    height: $site-side-navbar-height;

    @include mq(large) {
      height: 100%;
      bottom: 0;
      width: $site-side-navbar-width;
      display: block;
      text-align: center;
      border-right: 3px solid $color-accent-500;
      border-top: none;
    }

    .logo-container {
      position: absolute;
      z-index: 20;
      top: 1.5em;
      display: flex;
      gap: 0.5em;
      justify-items: center;
      text-align: center;
      flex-direction: column;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

      h4 {
        display: none;
        @include mq(large) {
          display: block;
        }
      }

      &:hover h4 {
        filter: brightness(0) saturate(100%) invert(87%) sepia(18%)
          saturate(5202%) hue-rotate(346deg) brightness(91%) contrast(87%);
      }

      img {
        filter: brightness(0) saturate(100%) invert(58%) sepia(89%)
          saturate(372%) hue-rotate(6deg) brightness(96%) contrast(100%);
        width: 200px;
        padding: 0 2em;
        display: none;
        @include mq(large) {
          display: block;
        }
      }
    }

    ul li a {
      width: inherit;
      height: inherit;
    }

    .side-navbar-container {
      display: flex;
      text-align: center;
      flex-direction: row;

      justify-content: center;
      align-content: center;
      align-items: center;
      justify-items: center;

      @include mq(large) {
        flex-direction: column;
        width: 100%;
        gap: 1em;
      }
    }
    .side-navbar-link {
      display: block;
      padding: 10px 10px;
      color: $color-neutral-000;
      font-weight: 100;

      &:hover,
      &:active {
        color: $color-accent-500;
      }
    }
    .activeSideNavLink {
      color: $color-accent-500;
    }
  }
}
