@use "../abstracts/" as *;

.site-footer {
  background-color: $footer-background-color;
  color: $footer-text-color;
  color: $footer-text-color;
  border-top: $footer-border-top;
  padding: $site-footer-padding;
  margin: $site-footer-margin;

  .footer-main-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }

  .footer-brand {
    display: grid;

    h2 {
      text-align: center;
      color: $color-accent-500;
    }
  }

  .footer-copyright {
    p {
      color: $footer-text-copyright-color;
      text-align: center;
    }
  }
}
