@use "../abstracts" as *;

.site-header {
  color: $site-header-color;
  background-color: $site-header-background-color;
  padding: $site-header-padding;
  margin: $site-header-margin;

  .active {
    text-decoration: underline;

    @include mq(medium) {
      border-bottom: 1px solid $color-neutral-1000;
      text-decoration: none;
    }
  }

  .logo {
    border-radius: 50%;
    @include mq(medium) {
      height: $site-header-logo-size;
      width: $site-header-logo-size;
      border: $color-neutral-1000 2px solid;
    }
  }

  & .nav {
    flex-direction: column;
    gap: $size-1;
    text-align: center;

    & a .heading-3 {
      color: $site-header-absolute-color;
      font-size: $site-header-link-font-size;
      font-family: $site-header-link-font-family;
      padding: 0.25em 0.5em;

      @include mq(medium) {
        text-decoration: none;
        &:is(:hover, :focus) {
          border-bottom: 1px solid $color-neutral-1000;
          border-right: none;
        }
      }
    }
    @include mq(medium) {
      padding: 0.5em 1em;
      flex-direction: row;
      gap: $size-10;
    }
  }

  &__inner {
    display: flex;
    gap: $size-4;
    align-items: $site-header-alignment;
    justify-content: $site-header-justification-small-screens;

    @include mq(medium) {
      justify-content: $site-header-justification-large-screens;
    }
  }
}
