@use "../abstracts/" as *;

.site-footer {
  background-color: $footer-background-color;
  color: $footer-text-color;
  color: $footer-text-color;
  border-top: $footer-border-top;
  padding: $site-footer-padding;
  margin: $site-footer-margin;

  .logo {
    border-radius: 50%;
    border: black 2px solid;
    @include mq(medium) {
      height: 150px;
      width: 150px;
    }
  }

  .footer-main-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }

  .footer-brand {
    display: grid;

    h2 {
      text-align: center;
      // color: $footer-text-color;
      color: goldenrod;
    }
  }

  .footer-copyright {
    p {
      color: $footer-text-copyright-color;
      text-align: center;
    }
  }

  .rotate-svg {
    filter: brightness(0) saturate(100%) invert(87%) sepia(18%) saturate(5202%)
      hue-rotate(346deg) brightness(91%) contrast(87%);
  }
}
