@use "../abstracts/" as *;

.site-footer {
  background-color: $footer-background-color;
  color: $footer-text-color;
  color: $footer-text-color;
  border-top: $footer-border-top;
  padding: $site-footer-padding;
  margin: $site-footer-margin;

  .logo {
    border-radius: 50%;
    border: black 2px solid;
    @include mq(medium) {
      height: 150px;
      width: 150px;
    }
  }

  .footer-main-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;

    & > * {
      margin-bottom: 2.5em;
    }
    @include mq(medium) {
      flex-direction: row;
      padding: 0 4em;
    }
  }

  .footer-brand {
    display: grid;
    gap: 1em;

    h2 {
      text-align: center;
      // color: $footer-text-color;
      color: goldenrod;
    }

    .social-media-icons {
      margin: 2em auto;
      display: flex;
      justify-content: space-between;
      width: 10em;
    }

    .social-media-icons svg {
      font-size: 35px;
      cursor: pointer;
    }

    .social-media-icons svg:hover {
      // color: $footer-social-media-link-hover-color;
      color: goldenrod;
    }
  }

  .footer-copyright {
    p {
      color: $footer-text-copyright-color;
      text-align: center;
    }
  }
}
