@use "../abstracts" as *;

.social-media-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media-icons a img {
  cursor: pointer;
  color: $color-neutral-1000;
  padding: 10px;
  border-bottom: 2px solid transparent;

  width: 60px;
  height: 60px;
  @include mq(medium) {
    width: 70px;
    height: 70px;
  }
}

.social-media-icons img:hover {
  border-bottom: 1px solid $color-accent-500;
}
