@use "../abstracts" as *;

.social-media-icons {
  display: flex;
  justify-content: space-around;
  //   padding: 1em 10em;
}

.social-media-icons svg {
  cursor: pointer;
  color: black;
  font-size: 30px;
  @include mq(large) {
    font-size: 40px;
  }
}

.social-media-icons svg:hover {
  // color: $footer-social-media-link-hover-color;
  color: goldenrod;
}
